
  
  /* CSS for qrcode size slider */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default appearance */
    height: 24px; /* Height of the thumb */
    width: 24px; /* Width of the thumb */
    background: #4f46e5; /* Color of the thumb (change this to desired color) */
    border-radius: 50%; /* Make it circular */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 0px; /* Center thumb vertically */
}

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  input:-webkit-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-moz-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px white inset !important;
  }@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  /* Custom Footer Styles */
  footer {
    background-color: #232E33; /* Dark background for footer */
  }
  
  .footer-color {
    background-color: #232E33;
  }
  
  .footer-text {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
  }
  
  .footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .footer-social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .footer-social-icons a:hover {
    color: #3b82f6; /* Blue color on hover for social media icons */
  }
  
  .footer-star {
    color: #eea615; /* Gold color for the stars */
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
  
  .footer-star:hover {
    color: #eea615; /* Hover color for stars */
  }
  
  /* Styling for dynamic floating review section */
  .footer-reviews {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    animation: floating 2s infinite ease-in-out;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Custom scrollbar */
  body {
    cursor: url("../assets/custom-pointer.png"), auto;
    --sb-track-color: #232E33;
    --sb-thumb-color: #ffffff;
    --sb-size: 8px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  
  /* Styling for the range input slider */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #4f46e5;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
  }
  
  /* Style for autofill in input fields */
  input:-webkit-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  input:-moz-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0px 1000px white inset !important;
  }
  